{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Sign In
{% endblock %}

{% block main %}
    <main class="login-page">

        <form class="sign" method="post">
            <div class="form-group"><h2>Update Monthly Budget</h2></div>
            {% csrf_token %}
            {{ form|crispy }}
          <div class="form-group">
              <button type="submit" class="btn btn-primary">Update</button>
          </div>
            <div class="bg"></div>
        </form>
    </main>
{% endblock %}